//  Place all  the styles  related to  the Homes  controller here.  
//  They  will automatically  be included   in  application.css.   
//  You   can  use   Sass  (SCSS)   here:  http://sass-lang.com/

@import "partials/resets";
@import "partials/colors";
@import "partials/fonts";
@import "partials/oma_mixins";

body{
       font: $oma_font_family;
       }

.oma_header{
        @include panel;
        background: $white;
        }

.oma_footer{
	@include panel;
	font-size: 10px;
        text-align: center;
        color: $oma_green;	
        }
.oma_footer_text{
	font-size: 10px;
        text-align: center;
        color: $oma_green;	
        }

.oma_welcome_outer_panel{
        @include panel;
        height: 400px;
        background: $oma_green_fade-3;
        }

.oma_welcome_inner_panel{
	@include panel($oma_white);
        position:absolute;
        width: 600px;
        height: 200px;
        top: 250px;
        }

#oma_top_menu {
       @include panel($oma_green);
       position:relative;
       height: 24px;
       }

#oma_menu_item {
       @include menu_item($oma_green_fade-1);
       position:relative;
       color: $oma_white;
       }

.oma_status_message{
	font-family: $oma_font_family;
        text-align: left;
	position:absolute;
	left:200px;
	top: 40px;
        }
.oma_welcome_message{
        font-family: $oma_font_family;
        text-align: left;
	position:absolute;
	left:200px;
	top: 60px;
        }

.oma_info_text{
        text-align: center;
        color: $oma_green;	
        position:relative;
        left:-20px;
        }

// rule for login invitations
#oma_login_invite{
        text-align: right;
        color: $oma_green;	
        position:relative;
        left: -180px;
        top: -60px;
        }


.center{
	float:center;
        }

.left{
	float:left;
        }

.right{
        float:right;
        }

oma_menu_item {
       @include menu_item;
       }

#home {
       @include menu_item( $oma_white );
       }
#plan {
       @include menu_item( $oma_white );
       }
#snapshot {
       @include menu_item( $oma_white );
       display:block;
       }
#plan-by-format {
       @include menu_item( $oma_white );
       display:block;
       border-left-color: $oma_grey;
       border-bottom-color: $oma_grey;
       border-right-color: $oma_grey;
       }
#buy   {
       @include menu_item( $oma_white );
       }
#learn {
       @include menu_item( $oma_white );
       }
#proof {
       @include menu_item( $oma_white );
       }

#contact {
       @include menu_item( $oma_white );
       border-right-width:0px;
       }

a:link,a:visited{
       display:block;
       width:132px;
       font-family: $oma_font_family;
       font-weight:bold;
       font-size: 12px;
       color:$white;
       background:$oma_green;
       text-align:center;
       padding:4px;
       text-decoration:none;
       text-transform:uppercase;
       }
a:hover,a:active{
       background-color:$oma_green_fade-2;
       }



#grid {
position: relative;
text-align: center;
width: 480px;
margin: 16px auto;
padding: 32px 0;
border: 2px solid #555;
font-size: 12px;
font-family: $oma_font_family;
}