//  Place all  the styles  related to  the Homes  controller here.  
//  They  will automatically  be included   in  application.css.   
//  You   can  use   Sass  (SCSS)   here:  http://sass-lang.com/

@import "partials/resets";
@import "partials/colors";
@import "partials/fonts";
@import "partials/oma_mixins";

body h1 p{
       font: $oma_font_family;
       }
h1     {
       font-size: $oma_font_size;
       color: $oma_green;
       }
.oma_header{
        @include panel($oma_white);
        }

.oma_footer{
	@include panel($oma_white);
	font-size: 10px;
        text-align: center;
        }
.oma_footer_text{
	font-size: 10px;
        text-align: center;
        color: $oma_green;	
        }

.oma_diagonal_panel{
        background: $oma_grey;
        z-index: 2;
        color: $oma_white;
        font: $oma_font_family;
        font-weight:bold;
        font-size: $oma_font_size;
        text-shadow: 5px 5px 5px #110011;
        
        position:absolute;
        top: 182px;
        padding: 24px;

        transform:rotate(30deg);
        -ms-transform:rotate(30deg); /* IE 9 */
        -moz-transform:rotate(30deg); /* Firefox */
        -webkit-transform:rotate(30deg); /* Safari and Chrome */
        -o-transform:rotate(30deg); /* Opera */
        }

.oma_welcome_outer_panel{
        @include panel;
        height: 400px;
        background: $oma_green_fade-3;
        z-index: 0;
        }

.oma_welcome_inner_panel{
	@include panel($oma_white);
        position:absolute;
        width: 600px;
        height: 200px;
        margin-left: 4.5%;
        z-index: 1;
        }

#oma_ipso_laurem_panel{
	@include panel($oma_grey_fade-3);
        position:relative;
        width: 600px;
        height: 200px;
        margin-left: 34%;
        top: -220px;
        z-index: 1;
        overflow: hidden;
        word-wrap: normal;
        text-overflow: ellipsis;
        resize:both;
        overflow:auto;
        display:none;

        padding-left: 12px;
        padding-left: 12px;
        padding-top: 30px;

        }
#oma_ipso_laurem_cols_panel{
	@include panel($oma_grey_fade-3);
        position:relative;
        width: 600px;
        height: 200px;
        margin-left: 44%;
        top: -220px;
        z-index: 1;
        overflow: hidden;
        word-wrap: normal;
        text-overflow: ellipsis;
        resize:both;
        overflow:auto;
        display:none;

        -moz-column-count:3; /* Firefox */
        -webkit-column-count:3; /* Safari and Chrome */
        column-count:3;

        padding-left: 18px;
        padding-top: 40px;

        }

#oma_top_menu {
       @include panel($oma_green);
       position:relative;
       height: 24px;
       }

#oma_plan_menu {
       @include panel($oma_green_fade-1);
       display: none;
       height: 48px;
       width: 132px;
       position: relative;
       top: 0px;
       left: 132px;
       border-left:   4px solid $oma_white;
       border-right:  4px solid $oma_white;
       border-bottom: 4px solid $oma_white;
       z-index: 2;
       }

#oma_menu_item {
       @include menu_item($oma_green_fade-1);
       position:relative;
       color: $oma_white;
       height: 26px;
       }

.oma_status_message{
        @include oma_green_text;
        text-align: left;
	position:absolute;
	left:200px;
	top: 40px;
        }
.oma_welcome_message{
        @include oma_text;
        text-align: left;
	position:absolute;
	left:200px;
	top: 70px;
        }

.oma_info_text{
        text-align: center;
        color: $oma_green;	
        position:relative;
        left:-20px;
        }

// rule for login invitations
#oma_login_invite{
        text-align: right;
        color: $oma_green;	
        position:relative;
        left: -180px;
        top: -60px;
        }


.center{
	float:center;
        }

.left{
	float:left;
        }

.right{
        float:right;
        }

oma_menu_item {
       @include menu_item;
       }

#home {
       @include menu_item( $oma_white );
       }
#plan {
       @include menu_item( $oma_white );
       }
#snapshot {
       @include menu_item( $oma_white );
       display:none;
       }
#plan_by_format {
       @include menu_item( $oma_white );
       display:none;
       }
#buy   {
       @include menu_item( $oma_white );
       }
#learn {
       @include menu_item( $oma_white );
       }
#proof {
       @include menu_item( $oma_white );
       }

#contact {
       @include menu_item( $oma_white );
//       border-right-width:0px;
       }




#grid {
position: relative;
text-align: center;
width: 480px;
margin: 16px auto;
padding: 32px 0;
border: 2px solid #555;
font-size: 12px;
font-family: $oma_font_family;
}