@import "partials/colors";
@import "partials/fonts";

// use background url('image003.jpg') or similar for single logo or image
// %logo is a separate resource, e.g. in layout.css.scss use
//   %logo
//    = link_to image_tag("image003.jpg"), root_url
// do not use both unless they are different!
header#page_header { 
//       background: $oma_white url('image003.jpg') center left no-repeat;
       color: $oma_green;
       height: 80px;
       margin-bottom: 10px;
       overflow: hidden;

       a,
       a:link,
       a:hover,
       a:active,
       a:visited {
         color:$oma_black;
         text-decoration: none;
         }

       nav#utility {
           float: right;
           font-size: 0.8em;
           position: relative;
           left: -25px;
           top: 30px;
           }

       #logo {
          position: relative;
          top: 15px;
          }
      }

    #tagline {
      margin-left: 20px;
      }

    .container { 
	overflow: hidden; 
	padding: 0 20px;
        }


footer#page_footer { 
  background-color: $oma_white;
  border-bottom: 10px solid $oma_black_fade-1;
  color: $oma_green;
  font-size: 0.7em;
  height: 100px;
  padding: 10px 20px;
  margin: 5% 5%;

  ul {
    margin-left: -10px;
    padding: 0;

    li {
      border-right: 1px solid $oma_green_fade_2;
      display: inline;
      margin: 0;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 5px 10px; 
        &:link,
        &:hover, 
        &:visited, 
        &.active {
          color: $oma_green_fade_2;
        }
      }
    }
  }
}

// p. 38 Rails Views
// sections for content, sidebar
//
section#content { 
   float: left;
   margin: 5% 5%;
   width: 50%;
   } 
section#sidebar {
   margin-right: 3%;
   margin-top: 7%;
   width: 30%;
   }