- currently_at 'Home'

%h1 Homes
%h2 This is homes index page.
%h3 Turpis justo curabitur sit amet urna

%section#body_content
  =raw @page.content_for(:body)

%section#side_body_content
  =raw @page.content_for(:side_body)
