- currently_at 'Proof'

%section#main_nav
  =raw @page.content_for(:main_navigation)

%h1 Proof
%h2 this is the Proof page.  :body, :Side_Body and :sidebar sections follow (or will).

%section#body_content
  =raw @page.content_for(:body)

%section#side_body_content
  =raw @page.content_for(:side_body)

%section#sidebar_content
  =raw @page.content_for(:sidebar)
