- currently_at @page.slug


%section#body_content
  #section#oma_green
    =raw @page.content_for(:page_navigation)
  =raw @page.content_for(:body)

%section#side_body_content
  =raw @page.content_for(:side_body)

