.oma_footer

  .left
    = image_tag("zenith.gif", :alt => "Sample App")
  
  
  .right  
    = image_tag("oma_logo.png", :alt => "Sample App")
  
  .center
    %br
    %br
    .oma_footer_text
      XXX
      = @copyright_message
    %br
    = @organization_name


