%footer#page_footer
  %ul
    %li
      = image_tag("zenith.gif", :alt => "Sample App")
    %li 
      &copy 2007-12 MOVE Pty Ltd
      Outdoor Marketing Association"
    %li
      = image_tag("oma_logo.png", :alt => "Sample App")
  


