
.oma_footer
  = image_tag("zenith.gif", :alt => "Sample App", :class => "round")

  = @copyright_message

  = @organization_name

  = image_tag("oma_logo.png", :alt => "Sample App", :class => "menu_item")


