.oma_footer
  %br
  %hr
  .left
    = image_tag("zenith.gif", :alt => "Sample App")
  
  
  .right  
    = image_tag("oma_logo.png", :alt => "Sample App")
  
  .center
    %br
    %br
    .oma_footer_text
      %p="© 2007-12 MOVE Pty Ltd"
    .oma_footer_text
      %p= "Outdoor Marketing Association"


