<section class="sub" id="sub1">
				<div class="example">
					<h3 id="example1">I used to wanna be curved</h3>
				</div>
				<div class="code">
					<h4>Example 1 - Curve</h4>
					<p>Curved with a radius of 300</p>
					<code>$example1.arctext({:radius => 300})</code>
				</div>
				<div class="clr"></div>
			</section>

			<canvas id="cnv"></canvas> 



<script type="text/javascript" charset="utf-8">
    cnv = document.getElementById("cnv");
    cnv.width = 500;
    cnv.height = 500;
    ctx = cnv.getContext("2d");
    ctx.font = "bold 18px sans-serif";
    text = " Know something"
    for (i = 0; i < text.length; i++) {
        ctx.fillText(text[i], 300, 100);
        ctx.rotate(0.1);
    }
</script>
