%header#page_header( role = "banner")

  #logo 
    = link_to( image_tag("OMA-MOVE_logo.png", size: '200x60', :alt=>"Outdoor Media Association"), 'http://www.oma.org.au')

    %nav#utility
      You are logged in as 
      = link_to "[Your Account]", "current_user_path"
      = link_to "[Logout]", "logout_path"  

    = yield(:main_navigation)


