%header#page_header( role = "banner")
  
  %nav#utility
    You are logged in as 
    = link_to "[Your Account]", "current_user_path"
    = link_to "[Logout]", "logout_path"
  

  = link_to( image_tag("main_image.jpg", :alt=>"Outdoor Media Association", 
      :id=>"logo"), "/", :title=>"Dashboard" )


= yield :main_navigation


%hr