.container
  %header.sixteen.columns#page_header

    #logo.two-thirds.column= render :partial => '/shared/logo'
    #statusbar.two-thirds-offset= render '/shared/status_bar'

#main_menu.container.sixteen.columns
  = render_menu 'main'  
