= link_to refinery.root_path do
  /= image_tag("OMA-MOVE_logo.png", size: '200x60', :alt=>"Outdoor Media Association")
  = image_tag("OMA-MOVE_logo.png", size: '240x68', :alt=>"Outdoor Media Association")
