
%ul.oma_menu_bar

  %li.oma_menu_item
    =link_to 'Home', root_url

  %li.oma_menu_item
    =link_to_function 'Planning', "alert('Snapshots and Plan By Format tabs from MOVE AMS.  No logon required.');"

  %li
    =link_to_function 'Buying', "alert('MOVE AMS tabs with logon required.');"

  %li.oma_menu_item
    =link_to_function 'Learning',  "alert('Not implemented this release.');"

  %li.oma_menu_item
    =link_to_function 'Proof',  "alert('Not implemented this release.');"

  %li.oma_menu_item
    =link_to 'Contact', href="http://moveoutdoor.com.au/contact-us"

