

%ul.oma_menu_bar

  %li
    #home
      =link_to_function 'Home', nil

  %li
    #plan
      =link_to_function 'Planning', nil

    %ul
      #oma_menu_bar

        %li
          #oma_snapshot_sub-menu_item
            =link_to_function 'Snapshot', "#"
    
        %li
          #oma_plan-by-format_sub-menu_item
            =link_to_function "Plan By Format", "#"

  %li
    #buy
      =link_to_function 'Buying', nil

  %li
    #learn
      =link_to_function 'Learning', nil

  %li
    #proof
      =link_to_function 'Proof', nil

  %li
    #contact
      =link_to 'Contact', href="http://moveoutdoor.com.au/contact-us", onmouseover: "alert('Contact link from moveoutdoor.com');"

