
%ul.oma_menu_bar

  %li#home Home

  %li
    #plan Planning

    %ul.oma_menu_bar

      %li
        :javascript
          $('#plan').click(function() {
            $('#snapshot').toggle('slow', function() {
            // Animation complete.
            });
          });
        #snapshot Snapshot
      %br
      %li
        :javascript
          $('#plan').click(function() {
            $('#plan-by-format').toggle('slow', function() {
            // Animation complete.
            });
          });
        #plan-by-format Plan By Format

  %li
    #buy Buy

  %li
    #learn Learn

  %li
    #proof Proof

  %li
    #contact Contact

