%oma_menu_item
  #test 
    =link_to_function 'Test', "$(test_click();)"

%ul.oma_main_menu_bar

  %li.oma_menu_item
    #home
      =link_to_function 'Home', "$(test_click();)", onmouseover: "say_hi();"

  %li.oma_menu_item
    =link_to_function 'Planning', 
    "$('#oma_snapshot_sub-menu_item').toggle(); $('#oma_plan-by-format_sub-menu_item').toggle();"

    %ul
      #oma_menu_bar
        %li
          #oma_snapshot_sub-menu_item
            =link_to_function 'Snapshot', "#"

        %li
          #oma_plan-by-format_sub-menu_item
            =link_to_function "Plan By Format", "#"

  %li.oma_menu_item
    =link_to_function 'Buying', "alert('MOVE AMS tabs with logon required.');", onmouseover: "alert('mouse!');"

  %li.oma_menu_item
    =link_to_function 'Learning',  "alert('Not implemented this release.)"

  %li.oma_menu_item
    =link_to_function 'Proof',  "alert('Not implemented this release.');"

  %li.oma_menu_item
    =link_to 'Contact', href="http://moveoutdoor.com.au/contact-us", onmouseover: "alert('Contact link from moveoutdoor.com');"

