#oma_top_menu

  %ul
    %li#home Home

    %li#plan

    %li#buy Buy
    %li#learn Learn

    %li#proof Proof
    %li#contact Contact

#oma_plan_menu
      
  %ul
    
    %li#snapshot Snapshot
    %li#plan_by_format Plan By Format


