#oma_top_menu

  %ul

    %li#home Home

    %li#plan Plan

    %ul
    
      %li#snapshot Snapshot
      %li#plan-by-format Plan By Format


    %li#buy Buy
    %li#learn Learn
    %li#proof Proof
    %li#contact Contact

