
%oma_menu_bar

  %li 
    #home Home
 
  %li
    #plan Plan
 
    %oma_sub-menu_bar
      %ul
        %li
          #snapshot Snapshot
        %br
        %li
          #plan-by-format Plan By Format
 
  %li
    #buy Buy
 
  %li
    #learn Learn
 
  %li
    #proof Proof
 
  %li
    #contact Contact

