
%table#chartData  

  %tr
    %th Focus
    %th Time (minutes)

  %tr( style="color: rgb(  37, 178, 100 )")
    %td Plan
    %td 1

  %tr( style="color: rgb(  35,  31,  32 )" )
    %td Know
    %td 1

  %tr(style="color: rgb( 146, 216, 177 )")
    %td Buy
    %td 1

  
