
%table#chartData  

  %tr
    %th Focus
    %th Time (minutes)

  %tr( style="color: #0DA068")
    %td Plan
    %td 1

  %tr( style="color: #194E9C" )
    %td Proof
    %td 1

  %tr(style="color: #ED9C13")
    %td Buy
    %td 1

  %tr(style="color: #ED5713")
    %td Learn
    %td 1
  
