#canvas

  %table( id="chartData" )  
  
    %tr
      %th Focus
      %th Time (minutes)
  
    %tr( style="color: #0DA068")
      %td Home
      %td 60
  
    %tr( style="color: #194E9C" )
      %td Buy
      %td 120
  
    %tr(style="color: #ED9C13")
      %td Learn
      %td 60
  
    %tr(style="color: #ED5713")
      %td Proof
      %td 30
  
    %tr( style="color: #057249")
      %td Plan
      %td 180
  
    %tr(style="color: #5F91DC")
      %td Contact
      %td 10
  
    %tr(style="color: #F88E5D")
      %td Save
      %td 245
 



