.oma_login-to-MOVE-link
  = link_to 'Login To MOVE', 'https://ams.moveoutdoor.com.au/', :target => "_blank" 

%p
  / Removed per John Gandar
  /- if current_refinery_user.present?
  /  You are logged in as 
  /  = link_to "[#{current_refinery_user.username}]", '#'
  /  = link_to "[Logout]", '/refinery/logout'
  /- else
  /  You are not logged in.
  /  = link_to "[Login]", '/refinery/login'

  =# render "/refinery/shared/tagged"
  = render "/refinery/shared/search"
