$oma_green:        rgb(  37, 178, 100 ); 
$oma_black:        rgb(  35,  31,  32 );
$oma_topbar_black: rgb(  93, 89, 89 ); 
$oma_grey:         rgb( 187, 188, 188 );
$oma_white:        rgb( 255,255,255 );

$oma_light_green:    lighten($oma_green,         10%);
$oma_lighter_green:  lighten($oma_light_green,   10%);
$oma_lightest_green: lighten($oma_lighter_green, 10%);
$oma_accent_green:   darken($oma_green,          25%); 

$oma_light_black:     lighten($oma_black,         10%);
$oma_lighter_black:   lighten($oma_light_black,   10%);
$oma_lightest_black:  lighten($oma_lighter_black, 10%);

$oma_light_grey:     lighten($oma_grey,         10%);
$oma_lighter_grey:   lighten($oma_light_grey,   10%);
$oma_lightest_grey:  lighten($oma_lighter_grey, 15%);

$oma_topbar_color: $oma_topbar_black;  // topbar_black per John Gandar request
$oma_right_topbar_color: lighten($oma_topbar_black, 20%);  // topbar_black per John Gandar request
$oma_topbar_hover_color: $oma_green;



