$oma_font_size: 24px;

$oma_heading_font:           Georgia, 'Times New Roman', serif;
$oma_accent_font:            Georgia, 'Times New Roman', serif ; 
$oma_body_font:              Verdana, Arial, Helvetica, sans-serif;
$xoma_body_font:              "Lucida Grande", "Bitstream Vera Sans", "Verdana";

$oma_top_bar_menu_font:      Verdana, Arial, Helvetica, sans-serif;
$oma_top_bar_menu_item_font: Verdana, Arial, Helvetica, sans-serif;


$oma_table_font:  "Trebuchet MS", Arial, Helvetica, sans-serif;
