$oma_font_size: 24px;

$oma_heading_font: Georgia, 'Times New Roman', serif;
$oma_accent_font: Georgia, 'Times New Roman', serif ; 
$oma_body_font: Arial, Helvetica, Verdana, sans-serif;
$oma_top_bar_menu_font: Arial, Helvetica, Verdana, sans-serif;
$oma_top_bar_menu_item_font: Arial, Helvetica, Verdana, sans-serif;


$oma_table_font:  "Trebuchet MS", Arial, Helvetica, sans-serif;
