$oma_font_size: 18px;

$oma_heading_font:           Verdana, Arial, Helvetica, sans-serif;
$oma_accent_font:            Verdana, Arial, Helvetica, sans-serif;
$oma_body_font:              Verdana, Arial, Helvetica, sans-serif;
$xoma_body_font:              "Lucida Grande", "Bitstream Vera Sans", "Verdana";

$oma_topbar_menu_font:      Verdana, Arial, Helvetica, sans-serif;
$oma_topbar_menu_item_font: Verdana, Arial, Helvetica, sans-serif;


$oma_table_font:  "Trebuchet MS", Arial, Helvetica, sans-serif;
