footer#page_footer { 
  background-color: $oma_white;
  border-top: 1px solid $oma_light_green;
  margin-top: 15px;
  padding-top: 15px;
  color: $oma_green;
  font-size: 0.7em;
  overflow: hidden;
  display: inline;
  ul, ol { margin-bottom: 0px; } /* override Skeleton base.css lists settings @ line 104. */

  nav#left_logo {
    float: left;
    font-size: 0.8em;
    position: relative;
    top: 0px;
  }
  nav#right_logo {
    float: right;
    font-size: 0.8em;
    position: relative;
    top: 0px;
  }

  ul {
    padding: 0;
    text-align: right;

    li {
      border-right: 2px solid $oma_topbar_black;
      color: $oma_topbar_black;
      display: inline;
      margin: 0;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 5px 10px; 
        &:link,
        &:hover, 
        &:visited,
        &.active {
          color: $oma_topbar_black;
        }
      }
    }
  }
}
