body > header {
  @include oma-menu-links;
  #logo {
    margin-top: 15px;
  }

  &#page_header {
    nav#utility {
      float: right;
      font-size: 0.8em;
      position: relative;
      top: 0px;
    }
  }

  &#page_body {
    min-height:600px;
    height:auto !important;
    height:100px;
  }

}

// this styles the search button
#search_tags {
  width: 400px;
  input[type='submit'] {
    padding: 2px 18px;
  }
}
