body > header {
  @include oma-menu-links;
  min-height: 10px;
  #logo {
    margin-top: 15px;
  }

  &#page_header {
    nav#utility {
      float: right;
      font-size: 0.8em;
      position: relative;
      left: -45px;
      top: 0px;
    }
  }

  &#page_body {
    min-height:600px;
    height:auto !important;
    height:100px;
}

  &#kpb_header {
    nav#pie_logo {
     // background: red;
      float: right;
    }

    #pie_content {
      width: 12%;
    }

    #logo {
      margin-top: 40px;
    }
  }
}

#search_tags {
  input[type='submit'] {
    padding: 2px 8px;
  }
}
