/* 
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.panel, .oma_header, .oma_footer, .oma_welcome_outer_panel, .oma_welcome_inner_panel {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px; }

body {
  font: georgia bold san-serif;
  color: #25b264; }

.oma_header {
  background: white; }

.oma_footer {
  font-size: 10px;
  text-align: center;
  color: #25b264; }

.oma_footer_text {
  font-size: 10px;
  text-align: center;
  color: #25b264; }

.oma_welcome_outer_panel {
  height: 400px;
  background: #d3f0e0; }

.oma_welcome_inner_panel {
  background: white;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  position: relative;
  top: 0px; }

.oma_welcome_message {
  position: relative;
  left: 200px;
  top: 70px; }

.oma_info_text {
  text-align: center;
  color: #25b264;
  position: relative;
  left: -20px; }

#oma_login_invite {
  text-align: right;
  color: #25b264;
  position: relative;
  left: -180px;
  top: -60px; }

.product_title {
  border: 1px solid black;
  color: oma_green;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px; }

.center {
  float: center; }

.left {
  float: left; }

.right {
  float: right; }

oma_menu_bar, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #25b264; }

oma_menu_item, li {
  float: left; }

a:link, a:visited {
  display: block;
  width: 132px;
  font-family: verdana;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: #25b264;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase; }

a:hover, a:active {
  background-color: #92d8b1; }
