/* 
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  font: 12px/14px sans-serif; }

li {
  font: 80% sans-serif; }

li {
  font: x-large/110% georgia, helvetica, arial, sans-serif, serif; }

li {
  font: bold italic large georgia, helvetica, arial, sans-serif, serif; }

li {
  font: normal small-caps 120%/120% helvetica; }

body h1 p {
  font: georgia, helvetica, arial, sans-serif; }

h1 {
  font-size: 24px;
  color: #25b264; }

.oma_header {
  background: white;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%; }

.oma_footer {
  background: white;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 10px;
  text-align: center; }

.oma_footer_text {
  font-size: 10px;
  text-align: center;
  color: #25b264; }

#oma_diagonal_panel {
  background: #bbbcbc;
  z-index: 2;
  color: white;
  font: georgia, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 5px 5px 5px #110011;
  position: absolute;
  top: 182px;
  padding: 24px;
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -moz-transform: rotate(30deg);
  /* Firefox */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  -o-transform: rotate(30deg);
  /* Opera */ }

.oma_welcome_outer_panel {
  background: #bbbcbc;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  height: 400px;
  background: #d3f0e0;
  z-index: 0; }

.oma_welcome_inner_panel {
  background: white;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  position: absolute;
  width: 600px;
  height: 200px;
  margin-left: 4.5%;
  z-index: 1; }

#oma_ipso_laurem_panel {
  background: #f1f1f1;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
  width: 600px;
  height: 200px;
  margin-left: 34%;
  top: -220px;
  z-index: 1;
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  resize: both;
  overflow: auto;
  display: none;
  padding-left: 12px;
  padding-left: 12px;
  padding-top: 30px; }

#oma_ipso_laurem_cols_panel {
  background: #f1f1f1;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
  width: 600px;
  height: 200px;
  margin-left: 44%;
  top: -220px;
  z-index: 1;
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  resize: both;
  overflow: auto;
  display: none;
  -moz-column-count: 3;
  /* Firefox */
  -webkit-column-count: 3;
  /* Safari and Chrome */
  column-count: 3;
  padding-left: 18px;
  padding-top: 40px; }

#oma_top_menu {
  background: #25b264;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
  height: 24px; }

#oma_plan_menu {
  background: #51c183;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  display: none;
  height: 48px;
  width: 132px;
  position: relative;
  top: 0px;
  left: 132px;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  z-index: 2; }

#oma_menu_item {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: #51c183;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: #51c183;
  padding-top: 6px;
  width: 132px;
  position: relative;
  color: white;
  height: 26px; }

.oma_status_message {
  color: #25b264;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 24px;
  font-variant: small-caps;
  text-align: left;
  position: absolute;
  left: 200px;
  top: 40px; }

.oma_welcome_message {
  color: #25b264;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 14px;
  text-align: left;
  position: absolute;
  left: 200px;
  top: 70px; }

.oma_info_text {
  text-align: center;
  color: #25b264;
  position: relative;
  left: -20px; }

#oma_login_invite {
  text-align: right;
  color: #25b264;
  position: relative;
  left: -180px;
  top: -60px; }

.center {
  float: center; }

.left {
  float: left; }

.right {
  float: right; }

oma_menu_item {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: #bbbcbc;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: #bbbcbc;
  padding-top: 6px;
  width: 132px; }

#home {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#plan {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#snapshot {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px;
  display: none; }

#plan_by_format {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px;
  display: none; }

#buy {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#learn {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#proof {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#contact {
  float: left;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: 4px;
  border-right-color: white;
  padding-top: 6px;
  width: 132px; }

#grid {
  position: relative;
  text-align: center;
  width: 480px;
  margin: 16px auto;
  padding: 32px 0;
  border: 2px solid #555;
  font-size: 12px;
  font-family: georgia, helvetica, arial, sans-serif; }
