// know.css.scss
// styles for snapshots and plan_by_formats engines

@import "partials/colors";

.record {
    display: table-cell;
}

// td elements within elements with class="record":
.record td {
    padding-top: 20px;
    font-size: 1.2em;
}
// th elements within elements with class="record":
.record th{
        font-size: 1.4em;
}








