@import "partials/colors";
@import "partials/fonts";
@import "partials/oma_mixins";

@import "partials/typography";
@import "partials/header";
@import "partials/footer";
@import "partials/home";
@import "partials/pie";
@import "partials/carousel";

body {
  // font-family: $oma_body_font;
  border-bottom: 5px solid $oma_light_black;
}


body {
  ul {
    padding: 0;
    //text-align: center;
  }
}


#tagline {
  margin-left: 20px;
}
