@import "partials/colors";
@import "partials/fonts";
@import "partials/oma_mixins";
@import "partials/footer";


body {
  font-family: $oma_body_font;
  color: $oma_light_black;
  background: $oma_white;
  /* JG may want this back
     border-bottom: 5px solid $oma_light_black;
  */
  padding-top: 20px;   //move pages down a decent interval from top


}