@import "partials/colors";
@import "partials/fonts";
@import "partials/oma_mixins";
@import "partials/layout";
@import "partials/footer";

@import "navigation/main_menu";
@import "navigation/side_menu";
@import "partials/typography";
@import "partials/rounded_borders";

/*
 * Note that we require a distinct layout file as opposed to changing skeleton.
 * Skeleton works as a third-party library and we don't want to write any 
 * modifications there in the event that we need to or want to update. Because 
 * CSS lets you modify rules simply by declaring them after earlier rules, we 
 * can create an additional stylesheet and keep our own styles separate.
 */

/* elements */
body {
  font-family: $oma_body_font;
  font-size: 80%;
  color: $oma_lighter_black;
  background: $oma_white;
  // JG may want this back
  // border-bottom: 5px solid $oma_light_black;
}

table {
  font-family: $oma_table_font;
  width: 80%;
  border-collapse: collapse;

  caption {
    caption-side: top;
    font-size:    1.1em;
    font-weight:  bolder;
    font-variant: small-caps;
    line-height: 200%
  }
  td, th {
    font-size:1em;
    border:1px solid $oma_light_grey;
    padding:3px 7px 2px 7px;
  }
  th {
    font-size: 1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background: $oma_light_grey;
    color:$oma_green;
  }
  tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
  }
}

/* 
  classes 
*/

.oma_link {
  @include oma_menu_links;
  a:hover {
    color: $oma_white;
    background: $oma_black;
  }

}
