li {
  font: 12px/14px sans-serif; }

li {
  font: 80% sans-serif; }

li {
  font: x-large/110% georgia, helvetica, arial, sans-serif, serif; }

li {
  font: bold italic large georgia, helvetica, arial, sans-serif, serif; }

li {
  font: normal small-caps 120%/120% helvetica; }

section#sidebar {
  background-color: #bbbcbc;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #25b264;
  float: right;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.3em;
  padding: 10px; }
  section#sidebar a,
  section#sidebar a:link,
  section#sidebar a:visited {
    color: #666;
    text-decoration: underline; }
  section#sidebar a:hover,
  section#sidebar a:active {
    color: #bc471d; }
  section#sidebar #functional_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  section#sidebar #recent_activity header {
    background-color: #bc471d;
    border-bottom: 5px solid #807c77;
    margin: 10px -10px;
    padding: 5px 10px 0 10px; }
    section#sidebar #recent_activity header h1#recent {
      background: transparent url("image003.jpeg") no-repeat scroll top left;
      margin: 5px 0 0 0;
      padding: 0;
      text-indent: -999px; }
