// snapshots.css.scss
// style snapshots engine views

@import "partials/colors";


table.record {
    background-color: $oma_white;
 
    th { 
      font-size: 16px;    
      vertical-align: middle;
      }
    th { 
      vertical-align: middle;
      }
    td>select { vertical-align: middle; }
}

