%header#kpb_header( role = "banner")

  #logo 
    = link_to 'http://www.oma.org.au' do
      = image_tag("OMA-MOVE_logo.png", size: '200x60', :alt=>"Outdoor Media Association")

    %nav#pie_logo
      %section#pie_content
        =raw @page.content_for(:pie)
        - if ["home", "buy", "know", "plan" ].include?(@page.slug)
          %canvas#chart( height = '100px')
            = render 'shared/pieChart'  


= yield(:main_navigation)


