body {
  font_family: "Times New Roman", "Times", serif;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%; }
  body #upper_page_content #carousel_content {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    float: left;
    font-size: 0.8em;
    height: 320px;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 66%; }
  body #upper_page_content #pie_content {
    float: right;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 33%;
    height: 320px; }
  body #lower_page_content #welcome_content {
    float: left;
    height: 320px;
    overflow: auto;
    width: 33%; }
  body #lower_page_content #news_content {
    border: 1px solid #bbbcbc;
    border-radius: 5px;
    display: inherit;
    height: 320px;
    width: 33%;
    overflow: auto; }
  body #lower_page_content #studies_content {
    border: 1px solid #bbbcbc;
    border-radius: 5px;
    display: inherit;
    height: 320px;
    width: 33%; }

h1 h2 {
  font-family: "Georgia", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  color: #25b264; }

h3 {
  color: #0f4829;
  font: "Georgia", "Times New Roman"; }

li {
  color: #25b264;
  font: "Times New Roman", "Times", serif; }

header#page_header {
  overflow: hidden;
  display: inline; }
  header#page_header a,
  header#page_header a:link,
  header#page_header a:hover,
  header#page_header a:active,
  header#page_header a:visited {
    color: #bbbcbc;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
  header#page_header nav#utility {
    float: right;
    font-size: 0.8em;
    position: relative;
    left: -45px;
    top: 0px; }
  header#page_header #logo {
    position: relative;
    top: 15px; }

header#kpb_header {
  border: 1px black solid;
  overflow: hidden;
  display: inline; }
  header#kpb_header a,
  header#kpb_header a:link,
  header#kpb_header a:hover,
  header#kpb_header a:active,
  header#kpb_header a:visited {
    color: #bbbcbc;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
  header#kpb_header nav#pie_logo {
    float: right; }
  header#kpb_header #pie_content {
    width: 12%; }
  header#kpb_header #logo {
    position: relative; }

footer#page_footer {
  background-color: white;
  border: 1px solid #35d57c;
  border-bottom: 5px solid #675b5e;
  color: #25b264;
  font-size: 0.7em;
  overflow: hidden;
  display: inline; }
  footer#page_footer nav#left_logo {
    float: left;
    font-size: 0.8em;
    position: relative;
    top: 0px; }
  footer#page_footer nav#right_logo {
    float: right;
    font-size: 0.8em;
    position: relative;
    top: 0px; }
  footer#page_footer ul {
    padding: 0;
    text-align: center; }
    footer#page_footer ul li {
      border-right: 2px solid #c8c9c9;
      display: inline;
      margin: 0; }
      footer#page_footer ul li:last-child {
        border-right: none; }
      footer#page_footer ul li a {
        padding: 5px 10px; }
        footer#page_footer ul li a:link, footer#page_footer ul li a:hover, footer#page_footer ul li a:visited, footer#page_footer ul li a.active {
          color: #25b264; }

#tagline {
  margin-left: 20px; }

container {
  overflow: hidden;
  padding: 0 20px 0 0;
  background: #c8c9c9; }

section#content {
  float: left;
  margin: 1% 5%;
  width: 30%; }
