nav#main_nav {
  padding: 0 0 0 -100px; }
  nav#main_nav li {
    border: 1px solid #51c183;
    display: inline-block;
    padding: 0 17px 0 17px;
    font-size: 0.9em; }
    nav#main_nav li a,
    nav#main_nav li a:link,
    nav#main_nav li a:visited {
      color: #bbbcbc;
      text-decoration: none; }
    nav#main_nav li.active {
      background: #bbbcbc;
      margin-bottom: -1px; }
      nav#main_nav li.active a,
      nav#main_nav li.active a:link,
      nav#main_nav li.active a:visited {
        color: #f1f1f1;
        font-weight: bold; }
