/* http://css-tricks.com/examples/CSS3Gradient/
   http://css-tricks.com/css3-gradients/
   Used first answer of
http://stackoverflow.com/questions/5016796/html-css-gradient-that-stops-at-a-perticular-height-and-continues-further-with-a
*/
.nav.main_nav_left { 
  background-color: $oma_top_bar_menu_color;
  display: inline;
  height: 40px;
  float: left;
  font-family: $oma_top_bar_menu_font;
  font-size: 0.95em;       // if wider than 0.9em goes to multiple rows

  a {
    color: $oma_white;
  }


  ul {
    li {
      text-align: center;
      display: inline-block;
      color: $oma_white;
      a {
        display: block;
        padding: 10px;

        &:hover {
          background-color: $oma_top_bar_menu_hover_color;
        }
      }
    }
  }
}

.nav.main_nav_right {
//  background-color: $oma_green;
  height: 40px;
  float: right;
  font-family: $oma_top_bar_menu_item_font;
  font-size: 0.95em;       // if wider than 0.9em goes to multiple rows

  ul {
    li {
      display: inline-block;
      a {
        display: block;
        color: $oma_top_bar_menu_color;
        padding: 1em 1.2em 1.2em 0em;
        &:hover {
          background-color: $oma_top_bar_menu_hover_color;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  nav#main_nav .offset-by-four {
    padding-left: 92px;
  }

  nav#main_nav .alpha {
    width: 464px;
  }
}
@media only screen and (max-width: 767px) {
  nav#main_nav {
    height: auto;

    ul li {
      display: block;
    }
  }
}
