#main_menu {
  font-family: $oma_top_bar_menu_font;
  font-size: 0.95em;
  margin-bottom: 10px;

  a {
    color: $oma_white;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
    //background-color: $oma_top_bar_menu_color;
    width: 100%;

    li {
      text-align: center;
      display: inline-block;
      margin-bottom: 0;
      margin-right: -4px; // Whitespace correction.

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: $oma_top_bar_menu_color;
        
        &:hover {
          background-color: $oma_top_bar_menu_hover_color;
        }
      }
    }
  }
}

.nav#main_nav_left {
}

.nav#main_nav_right {
  text-align: right;
  a {
    font-weight: bold;
    color: #000;
    background-color: inherit;
    &:hover {
      color: #FFF;
    }
  }
}
