$oma_green:        rgb(  37, 178, 100 ); 
$oma_green_fade-1: rgb(  81, 193, 131 );
$oma_green_fade-2: rgb( 146, 216, 177 );
$oma_green_fade-3: rgb( 211, 240, 224 );

$oma_black:        rgb(  35,  31,  32 );
$oma_black_fade-1: rgb(  88,  89,  91 );
$oma_black_fade-2: rgb( 146, 148, 151 );
$oma_black_fade-3: rgb( 208, 210, 211 );

$oma_grey:         rgb( 187, 188, 188 );
$oma_grey_fade-1:  rgb( 201, 201, 201 );
$oma_grey_fade-2:  rgb( 221, 222, 222 );
$oma_grey_fade-3:  rgb( 241, 241, 241 );

$white:          rgb( 255,255,255 );

