$oma_font_family: georgia, helvetica, arial, sans-serif;
$oma_menu_font: helvetica;
$oma_font_size: 24px;

li { font: 12px/14px sans-serif }
li { font: 80% sans-serif }
li { font: x-large/110% $oma_font_family, serif }
li { font: bold italic large $oma_font_family, serif }
li { font: normal small-caps 120%/120% helvetica }
