$oma_font_family: georgia, helvetica, arial, sans-serif;
$oma_menu_font: helvetica;
$oma_font_size: 24px;

p { font: 12px/14px sans-serif }
p { font: 80% sans-serif }
p { font: x-large/110% "New Century Schoolbook", serif }
p { font: bold italic large Palatino, serif }
p { font: normal small-caps 120%/120% fantasy }