// Put all mixins defined for OMA here

@mixin oma_green_text {
  color:       $oma_green;
  font-family: $oma_font_family;
  font-size:   $oma_font_size ;
  font-variant: small-caps; 
  }

@mixin oma_page_header {
  background-color: $oma_grey;
  width: span(24)
  }

@mixin oma_text($color: $oma_green, $size: 14px) {
  color: $color;
  font-family: $oma_font_family;
  font-size: $size;
  }

//
// Menus elements
//
@mixin panel( $color: $oma_grey){
        background: $color;
        height: 50%;
        margin-right: 5%;
        margin-left: 5%;
        }
@mixin diagonal_panel($bg-color: $oma_grey){
        background: $bg-color;        
        position:absolute;
        padding: 2px;

        transform:rotate(30deg);
        -ms-transform:rotate(30deg); /* IE 9 */
        -moz-transform:rotate(30deg); /* Firefox */
        -webkit-transform:rotate(30deg); /* Safari and Chrome */
        -o-transform:rotate(30deg); /* Opera */
        }

@mixin menu_bar($color: $oma_grey){
       background-color: $color;
       display:block;
       position:absolute;
       left: 10%;
       }

@mixin menu_item($color: $oma_grey) {
       font-family: $oma_menu_font;
       font-weight:bold;
       font-size: 12px;
       color:$color;
       text-align:center;
       text-decoration:none;
       text-transform:uppercase;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:$color;
       padding-top:6px;
}

