// Put all mixins defined for OMA here

@mixin oma_green_text {
  color:       $oma_green;
  font-family: $oma_font;
  font-size:   $oma_font-size ;
  font-variant: small-caps; 
  }

@mixin oma_page_header {
  background-color: $oma_grey;
  width: span(24)
  }

@mixin oma_text($color: oma_green, $size: 12px) {
  color: $color;
  font-family: $oma_font_family;
  font-size: $size;
  }

@mixin oma_sub-menu_item($color: $oma_grey) {
  background-color: $color;
  display: none;
  float:left;
  }

// @extend classes, here for lack of a better place
.menu_item, li{
       float:left;
       }

.panel{
        margin-top: 10px;
        margin-left:5%;
        margin-right:5%;
        margin-bottom: 30px;
        }



