/*
Syntax error: File to import not found or unreadable: partials/colors.
              Load paths:
                /Users/John/Devo/banzai/app/assets
                /Users/John/Devo/banzai/app/assets/stylesheets
        on line 1 of stylesheets/pieChart.css.scss

1: @import "partials/colors";
2: @import "partials/fonts";
3: 
4: #chartData {
5:   display: none;
6:   width: 200px;

Backtrace:
stylesheets/pieChart.css.scss:1
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/import_node.rb:42:in `import'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/exec.rb:411:in `watch_or_update'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/exec.rb:302:in `process_result'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/exec.rb:41:in `parse'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/lib/sass/exec.rb:21:in `parse!'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/gems/sass-3.1.20/bin/sass:8:in `<top (required)>'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/bin/sass:19:in `load'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/bin/sass:19:in `<main>'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/bin/ruby_noexec_wrapper:14:in `eval'
/Users/John/.rvm/gems/ruby-1.9.3-p194@banzai/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/colors.\A               Load paths:\A                 /Users/John/Devo/banzai/app/assets\A                 /Users/John/Devo/banzai/app/assets/stylesheets\A         on line 1 of stylesheets/pieChart.css.scss\A \A 1: @import \"partials/colors\";\A 2: @import \"partials/fonts\";\A 3: \A 4: #chartData {\A 5:   display: none;\A 6:   width: 200px;"; }
